# Exploratory Analysis of Currency Exchange Rates - USD vs Other Countries

In this Python notebook, we'll be investigating the strength of the US Dollar against other countries over the last 4 election cyles (16 years) to answer some basic questions related to tourism and travel. The currencies of our focused analysis are: Euro (EUR), Japananese Yen (JPY), Chinese Yuan (CNY), Austrailian Dollar (AUD), Indian Rupee (INR), and the Chilean Peso (CLP). 

All of our data will be pulled from Federal Reserve at [https://www.federalreserve.gov/](https://www.federalreserve.gov/). We'll be looking at trends monthly as well as daily.

In [1]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
# Read the CSV file with all of the Montly Exhange Rate Data
df_exchange_rates_monthly = pd.read_csv("Resources/FRB_Exchange_Rate_US.csv")

# Preview the data frame
display(df_exchange_rates_monthly.head(20))
display(df_exchange_rates_monthly.tail(20))

,Series Description,"AUSTRALIA -- SPOT EXCHANGE RATE, US$/AUSTRALIAN $ RECIPROCAL OF RXI_N.M.AL",SPOT EXCHANGE RATE - EURO AREA,"NEW ZEALAND -- SPOT EXCHANGE RATE, US$/NZ$ (RECIPROCAL OF RXI_N.M.NZ)","United Kingdom -- Spot Exchange Rate, US$/Pound Sterling Reciprocal of rxi_n.m.uk","BRAZIL -- SPOT EXCHANGE RATE, REAIS/US$","CANADA -- SPOT EXCHANGE RATE, CANADIAN $/US$","CHINA -- SPOT EXCHANGE RATE, YUAN/US$","DENMARK -- SPOT EXCHANGE RATE, KRONER/US$","HONG KONG -- SPOT EXCHANGE RATE, HK$/US$",...,"NORWAY -- SPOT EXCHANGE RATE, KRONER/US$","SOUTH AFRICA -- SPOT EXCHANGE RATE, RAND/US$","Singapore - SPOT EXCHANGE RATE, SINGAPORE $/US$","KOREA -- SPOT EXCHANGE RATE, WON/US$","SRI LANKA -- SPOT EXCHANGE RATE, RUPEES/US$","SWEDEN -- SPOT EXCHANGE RATE, KRONOR/US$","SWITZERLAND -- SPOT EXCHANGE RATE, FRANCS/US$","TAIWAN -- SPOT EXCHANGE RATE, NT$/US$",THAILAND -- SPOT EXCHANGE RATE -- THAILAND,"VENEZUELA -- SPOT EXCHANGE RATE, BOLIVARES/US$"
0,Unit:,Currency:_Per_AUD,Currency:_Per_EUR,Currency:_Per_NZD,Currency:_Per_GBP,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,...,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD
1,Multiplier:,1,1,1,0.00999999978,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,Currency:,USD,USD,USD,USD,BRL,CAD,CNY,DKK,HKD,...,NOK,ZAR,SGD,KRW,LKR,SEK,CHF,TWD,THB,VEB
3,Unique Identifier:,H10/H10/RXI$US_N.M.AL,H10/H10/RXI$US_N.M.EU,H10/H10/RXI$US_N.M.NZ,H10/H10/RXI$US_N.M.UK,H10/H10/RXI_N.M.BZ,H10/H10/RXI_N.M.CA,H10/H10/RXI_N.M.CH,H10/H10/RXI_N.M.DN,H10/H10/RXI_N.M.HK,...,H10/H10/RXI_N.M.NO,H10/H10/RXI_N.M.SF,H10/H10/RXI_N.M.SI,H10/H10/RXI_N.M.KO,H10/H10/RXI_N.M.SL,H10/H10/RXI_N.M.SD,H10/H10/RXI_N.M.SZ,H10/H10/RXI_N.M.TA,H10/H10/RXI_N.M.TH,H10/H10/RXI_N.M.VE
4,Time Period,RXI$US_N.M.AL,RXI$US_N.M.EU,RXI$US_N.M.NZ,RXI$US_N.M.UK,RXI_N.M.BZ,RXI_N.M.CA,RXI_N.M.CH,RXI_N.M.DN,RXI_N.M.HK,...,RXI_N.M.NO,RXI_N.M.SF,RXI_N.M.SI,RXI_N.M.KO,RXI_N.M.SL,RXI_N.M.SD,RXI_N.M.SZ,RXI_N.M.TA,RXI_N.M.TH,RXI_N.M.VE
5,1971-01,1.1181,NaN,1.1194,2.4058,NaN,1.0118,NaN,7.4846,NaN,...,7.1411,0.7153,NaN,NaN,NaN,5.1639,4.3053,NaN,NaN,NaN
6,1971-02,1.1238,NaN,1.1250,2.4178,NaN,1.0075,NaN,7.4854,NaN,...,7.1425,0.7117,NaN,NaN,NaN,5.1726,4.2981,NaN,NaN,NaN
7,1971-03,1.1243,NaN,1.1254,2.4187,NaN,1.0064,NaN,7.4808,NaN,...,7.1377,0.7114,NaN,NaN,NaN,5.1628,4.3003,NaN,NaN,NaN
8,1971-04,1.1238,NaN,1.1250,2.4179,NaN,1.0077,NaN,7.4887,NaN,...,7.1287,0.7117,NaN,NaN,NaN,5.1630,4.2987,NaN,NaN,NaN
9,1971-05,1.1243,NaN,1.1254,2.4187,NaN,1.0087,NaN,7.4998,NaN,...,7.1145,0.7114,NaN,NaN,NaN,5.1660,4.1242,NaN,NaN,NaN
10,1971-06,1.1243,NaN,1.1255,2.4188,NaN,1.0213,NaN,7.4949,NaN,...,7.1111,0.7114,NaN,NaN,NaN,5.1625,4.0938,NaN,NaN,NaN
11,1971-07,1.1241,NaN,1.1253,2.4185,NaN,1.0213,NaN,7.4993,NaN,...,7.1059,0.7115,NaN,NaN,NaN,5.1623,4.0946,NaN,NaN,NaN
12,1971-08,1.1316,NaN,1.1328,2.4346,NaN,1.0130,NaN,7.4440,NaN,...,7.0219,0.7070,NaN,NaN,NaN,5.1279,4.0306,NaN,NaN,NaN
13,1971-09,1.1478,NaN,1.1490,2.4694,NaN,1.0130,NaN,7.3141,NaN,...,6.8993,0.7098,NaN,NaN,NaN,5.0681,3.9812,NaN,NaN,NaN
14,1971-10,1.1577,NaN,1.1588,2.4896,NaN,1.0047,NaN,7.2634,NaN,...,6.8498,0.7121,NaN,NaN,NaN,5.0217,3.9750,NaN,NaN,NaN
15,1971-11,1.1589,NaN,1.1601,2.4933,NaN,1.0039,NaN,7.2594,NaN,...,6.8595,0.7122,NaN,NaN,NaN,5.0028,3.9834,NaN,NaN,NaN
16,1971-12,1.1748,NaN,1.1731,2.5266,NaN,0.9993,NaN,7.1465,NaN,...,6.7496,0.7296,NaN,NaN,NaN,4.8939,3.9041,NaN,NaN,NaN
17,1972-01,1.1910,NaN,1.1936,2.5705,NaN,1.0059,NaN,7.0331,NaN,...,6.7056,0.7616,NaN,NaN,NaN,4.8238,3.8922,NaN,NaN,NaN
18,1972-02,1.1910,NaN,1.1939,2.6037,NaN,1.0047,NaN,6.9900,NaN,...,6.6538,0.7520,NaN,NaN,NaN,4.7944,3.8611,NaN,NaN,NaN
19,1972-03,1.1910,NaN,1.1928,2.6181,NaN,0.9985,NaN,6.9635,NaN,...,6.5959,0.7476,NaN,NaN,NaN,4.7720,3.8567,NaN,NaN,NaN

,Series Description,"AUSTRALIA -- SPOT EXCHANGE RATE, US$/AUSTRALIAN $ RECIPROCAL OF RXI_N.M.AL",SPOT EXCHANGE RATE - EURO AREA,"NEW ZEALAND -- SPOT EXCHANGE RATE, US$/NZ$ (RECIPROCAL OF RXI_N.M.NZ)","United Kingdom -- Spot Exchange Rate, US$/Pound Sterling Reciprocal of rxi_n.m.uk","BRAZIL -- SPOT EXCHANGE RATE, REAIS/US$","CANADA -- SPOT EXCHANGE RATE, CANADIAN $/US$","CHINA -- SPOT EXCHANGE RATE, YUAN/US$","DENMARK -- SPOT EXCHANGE RATE, KRONER/US$","HONG KONG -- SPOT EXCHANGE RATE, HK$/US$",...,"NORWAY -- SPOT EXCHANGE RATE, KRONER/US$","SOUTH AFRICA -- SPOT EXCHANGE RATE, RAND/US$","Singapore - SPOT EXCHANGE RATE, SINGAPORE $/US$","KOREA -- SPOT EXCHANGE RATE, WON/US$","SRI LANKA -- SPOT EXCHANGE RATE, RUPEES/US$","SWEDEN -- SPOT EXCHANGE RATE, KRONOR/US$","SWITZERLAND -- SPOT EXCHANGE RATE, FRANCS/US$","TAIWAN -- SPOT EXCHANGE RATE, NT$/US$",THAILAND -- SPOT EXCHANGE RATE -- THAILAND,"VENEZUELA -- SPOT EXCHANGE RATE, BOLIVARES/US$"
633,2023-05,0.6643,1.0867,0.6214,1.2484,4.9813,1.3517,6.9854,6.8549,7.8373,...,10.8075,19.0322,1.3395,1327.4800,309.4200,10.4643,0.8977,30.7291,34.1991,25.4213
634,2023-06,0.6713,1.0840,0.6135,1.2627,4.8537,1.3286,7.1614,6.8719,7.8330,...,10.7964,18.7448,1.3462,1297.2514,301.6281,10.7691,0.9004,30.8405,34.9110,27.0261
635,2023-07,0.6742,1.1067,0.6232,1.2893,4.8005,1.3211,7.1863,6.7332,7.8156,...,10.2338,18.1404,1.3332,1282.2835,319.0375,10.5002,0.8723,31.2005,34.5605,28.5610
636,2023-08,0.6486,1.0910,0.5996,1.2706,4.9012,1.3478,7.2486,6.8308,7.8263,...,10.4682,18.7742,1.3506,1321.7561,320.4726,10.8291,0.8783,31.8239,35.0217,31.3184
637,2023-09,0.6425,1.0672,0.5931,1.2381,4.9387,1.3531,7.2979,6.9877,7.8285,...,10.7247,18.9657,1.3637,1334.2370,322.4535,11.0848,0.8996,32.0435,35.8850,33.4652
638,2023-10,0.6347,1.0565,0.5894,1.2175,5.0559,1.3712,7.3071,7.0621,7.8246,...,11.0224,19.0167,1.3688,1351.5071,324.8257,11.0259,0.9035,32.3024,36.4443,34.7643
639,2023-11,0.6508,1.0819,0.6005,1.2437,4.8980,1.3707,7.2226,6.8940,7.8071,...,10.9051,18.5236,1.3474,1308.1540,327.8855,10.6694,0.8902,31.8750,35.3950,35.2550
640,2023-12,0.6693,1.0909,0.6223,1.2657,4.8998,1.3416,7.1402,6.8348,7.8098,...,10.5494,18.6328,1.3321,1304.3945,326.2110,10.2576,0.8648,31.2515,34.9810,35.5835
641,2024-01,0.6636,1.0899,0.6168,1.2701,4.9182,1.3423,7.1707,6.8418,7.8164,...,10.4136,18.8056,1.3362,1325.9119,320.3200,10.3593,0.8591,31.2114,35.2219,35.9574
642,2024-02,0.6522,1.0793,0.6123,1.2630,4.9609,1.3500,7.1935,6.9063,7.8218,...,10.5562,19.0168,1.3447,1331.3345,311.8620,10.4266,0.8771,31.4330,35.8485,36.1392
643,2024-03,0.6558,1.0870,0.6081,1.2713,4.9798,1.3536,7.2015,6.8598,7.8230,...,10.6121,18.8478,1.3407,1331.6752,304.8286,10.4113,0.8886,31.6924,35.9505,36.1542
644,2024-04,0.6507,1.0724,0.5957,1.2517,5.1300,1.3674,7.2374,6.9576,7.8305,...,10.9058,18.8795,1.3568,1367.8555,298.9677,10.8158,0.9099,32.3350,36.7668,36.2200
645,2024-05,0.6626,1.0810,0.6066,1.2636,5.1368,1.3667,7.2327,6.9007,7.8119,...,10.7443,18.4138,1.3509,1364.7241,299.5773,10.7501,0.9088,32.3286,36.6350,36.4625
646,2024-06,0.6642,1.0763,0.6139,1.2716,5.3861,1.3705,7.2547,6.9336,7.8100,...,10.6154,18.4291,1.3517,1379.0526,303.8889,10.4870,0.8938,32.3768,36.7095,36.3576
647,2024-07,0.6673,1.0847,0.6030,1.2870,5.5438,1.3714,7.2609,6.8786,7.8095,...,10.8071,18.2453,1.3456,1382.0473,303.2373,10.6386,0.8917,32.6450,36.2145,36.4461
648,2024-08,0.6658,1.1020,0.6088,1.2945,5.5517,1.3655,7.1475,6.7712,7.7962,...,10.6900,18.0350,1.3152,1351.4436,300.2305,10.3902,0.8579,32.2359,34.7391,36.5575
649,2024-09,0.6770,1.1104,0.6224,1.3219,5.5378,1.3546,7.0760,6.7180,7.7910,...,10.6226,17.5948,1.2957,1330.6985,300.8865,10.2290,0.8472,31.9560,33.2540,36.6660
650,2024-10,0.6700,1.0895,0.6076,1.3043,5.6278,1.3757,7.0881,6.8469,7.7707,...,10.8366,17.5848,1.3110,1362.3691,293.2764,10.4809,0.8613,32.0905,33.4091,38.7941
651,2024-11,0.6528,1.0621,0.5908,1.2738,5.7961,1.3973,7.2063,7.0235,7.7798,...,11.0537,17.9379,1.3369,1395.0200,291.7826,10.9091,0.8809,32.3553,34.4442,44.9651
652,2024-12,0.6334,1.0472,0.5748,1.2647,6.1010,1.4247,7.2807,7.1221,7.7734,...,11.2204,18.2182,1.3504,1439.9967,291.5843,10.9850,0.8916,32.5743,34.1433,49.8588

# Let's collect daily exchange rate data for the currencies of interest
Source: [https://www.federalreserve.gov/releases/h10/hist/default.htm](https://www.federalreserve.gov/releases/h10/hist/default.htm)

Since there was a 403 error return when using the url directly, we'll have to save the raw html file locally and use the read_html() function to read the tables. There will be an html file for each country in the 'Resources' folder.

In [ ]:
# list of all countries by their currency abbreviation 
currencies = ['EUR', 'JPY', 'CNY', 'AUD', 'INR', 'MXN']

In [ ]:
# All url's stored as variables
china_url = 'Resources/FRB_daily_china.html'

# Read the html file into the tables variable
tables_china_daily_xchange = pd.read_html(china_url)

# Let's check how many tables we extracted
print(f'There are {len(tables_china_daily_xchange)} table(s)')

# Preview table we want
display(tables_china_daily_xchange)

# Since we know there's only one table, let's extract it and convert it to our df_china_daily
df_china_daily = tables_china_daily_xchange[0]

# Preview our df
df_china_daily

There are 1 table(s)

[           Date    Rate
 0      3-JAN-00  8.2798
 1      4-JAN-00  8.2799
 2      5-JAN-00  8.2798
 3      6-JAN-00  8.2797
 4      7-JAN-00  8.2794
 ...         ...     ...
 6530  13-JAN-25  7.3319
 6531  14-JAN-25  7.3311
 6532  15-JAN-25  7.3304
 6533  16-JAN-25  7.3316
 6534  17-JAN-25  7.3249

 [6535 rows x 2 columns]]

           Date    Rate
0      3-JAN-00  8.2798
1      4-JAN-00  8.2799
2      5-JAN-00  8.2798
3      6-JAN-00  8.2797
4      7-JAN-00  8.2794
...         ...     ...
6530  13-JAN-25  7.3319
6531  14-JAN-25  7.3311
6532  15-JAN-25  7.3304
6533  16-JAN-25  7.3316
6534  17-JAN-25  7.3249

[6535 rows x 2 columns]

In [64]:
# Count how many null rows for china data frame
null_rows = df_china_daily[df_china_daily.isnull().any(axis=1)]
num_null_rows = len(null_rows)

print("Number of rows with null values:", num_null_rows)

Number of rows with null values: 0

In [4]:
# Count how many null rows for australia data frame
null_rows = df_australia_daily[df_australia_daily.isnull().any(axis=1)]
num_null_rows = len(null_rows)

print("Number of rows with null values:", num_null_rows)

Number of rows with null values: 0

In [78]:
df_china_daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6535 entries, 0 to 6534
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    6535 non-null   object
 1   Rate    6535 non-null   object
dtypes: object(2)
memory usage: 102.2+ KB

In [5]:
df_australia_daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6535 entries, 0 to 6534
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    6535 non-null   object
 1   Rate    6535 non-null   object
dtypes: object(2)
memory usage: 102.2+ KB